{% extends "base.html" %} 
{% block title %}Enter OTP{% endblock %}


{% block content %}
<h2>Enter OTP</h2>
<form id="otp-form" method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Submit</button>
  <button type="button" id="resend-otp">Resend OTP</button>
</form>

<div id="resend-message"></div>

<script>
  $(document).ready(function() {
    $("#resend-otp").click(function() {
      var userId = "{{ user_id }}";
      $.ajax({
        type: "GET",
        url: "/resend-otp/" + userId,
        success: function(response) {
          $("#resend-message").text("OTP code resent");
        },
        error: function(xhr, status, error) {
          console.log(xhr.responseText);
        }
      });
    });
  });
</script>

{% endblock %}
