<!DOCTYPE html>
{% extends "base.html" %} {% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/uploader.css">
    <meta content="width=device-width, initial-scale=1" name="viewport" />

<script type="text/javascript">
  $(document).ready(function() {
    const fileInput = document.getElementById("id_document");
    const form = document.getElementById("upload-form");
    form.addEventListener("submit", async function(event) {
        event.preventDefault();
        const progbar = document.getElementById("progress-bar");
        progbar.style.visibility = 'visible';
        const file = fileInput.files[0];
        const formData = new FormData();
        formData.append("document", file);

        const xhr = new XMLHttpRequest();
        xhr.open("POST", '{% url "upload" %}');
        xhr.upload.addEventListener("progress", function(event) {
            const progressBar = document.getElementById("progress-bar");
            if (event.lengthComputable) {
                const percentComplete = (event.loaded / event.total) * 100;
                progressBar.value = percentComplete;
                document.getElementById("percentage").text = percentComplete;
            }
        });
        xhr.setRequestHeader("X-CSRFToken", $('input[name="csrfmiddlewaretoken"]').val());
        xhr.send(formData);


        xhr.addEventListener("readystatechange", function(event) {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                const responseData = xhr.responseText;
                const data = JSON.parse(responseData); 
                $("#file-list").append(
                    '<li><a href="/documents/' + data.filename + '">' + data.filename +
                    '</a> <button class="btn btn-danger"><a href="/remove/' + data.id + '">' + "Remove" +
                    '</a></button></li>'
                );

                form.reset();
                document.getElementById("progress-bar").value = 0;
                progbar.style.visibility = 'hidden'
            }
        });
    });

    $("#share-form").on("submit", function(event) {
        var selectElement = document.getElementById("share_select");
        var selectedValue =
            selectElement.options[selectElement.selectedIndex].value;
        console.log(selectedValue);
        var shareId = parseInt(selectedValue);
        console.log(email);
        console.log(shareId);
        var formData = new FormData();

        formData.append("share_id", shareId);
        var email = document.getElementById("email").value;
        formData.append("email", email);
        event.preventDefault();
        $.ajax({
            url: "/share/" + shareId + "/",
            type: "POST",
            headers: {
                "X-CSRFToken": $('input[name="csrfmiddlewaretoken"]').val(),
            },
            processData: false,
            contentType: false,
            data: formData,
            success: function(response) {
                alert(response);
                $("#share-form")[0].reset();
            },
            error: function(error) {
                console.log(error);
            },
        });
    });


    $('.delete-btn').click(function() {
        event.preventDefault();
        var id = $(this).data('id');
        var button = $(this);

        $.ajax({
            url: '/remove/' + id + '/',
            type: 'POST',
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },

            success: function(data) {
                if (data.status == "success") {
                    alert(data.message);
                    button.closest('li').remove();
                } else {
                    alert(data.message);
                }
            },
            error: function(jqXHR, textStatus, errorThrown) {
                alert("An error occurred while deleting the object.");
            }
        });
    });
});
</script>
</head>


  <h1>File Sharing App</h1>
  <div class="container">
    <div class = "formDiv">
      <form id="upload-form" method="post" enctype="multipart/form-data">
          <h2>Upload File</h2>
          {% csrf_token %}
          <input type="file" name="file" id="id_document"></div>
          <div class="center-button">
            <input type="submit" value="Upload" class="upload-button">
          </div>     
        </form>
      <progress  id="progress-bar" value="0" max="100"></progress>
      <p id = "percentage"></p>


      <ul id="file-list">
        <h2>File List</h2>
        {% for document in documents %}
          <li>
            <a href="{% url 'download' document.id %}">{{ document.name }}</a>
            <a href="{% url 'remove' document.id %}"><button data-id="{{ document.id }}" class="btn btn-danger delete-btn">Remove</button></a>
          </li>
        {% empty %}
          <li>No files available.</li>
        {% endfor %}
      </ul>
      <br>
      <h2>Share File</h2>
      <form id="share-form" method="post">
          {% csrf_token %}
          <div class="form-group">
              <label for="file">Select file to share:</label>
              <select name="file" id="share_select" class="form-control">
                  {% for document in documents %}
                  <option value="{{ document.id }}">{{ document.name }}</option>
                  {% endfor %}
              </select>
          </div>
          <div class="form-group">
              <label for="recipient">Recipient email:</label>
              <input id="email" type="email" name="recipient" class="form-control">
          </div>
          <div class="form-group">
              <input type="submit" value="Share" class="btn btn-primary">
          </div>
      </form>
      <a href="{% url 'shared_with_you' %}" class="btn btn-secondary">Files shared with you</a>
  </div>
</body>


{% endblock %}
